* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #9e9e9e, #929292);
    padding: 0 20%;
}

/* HEADER */
header {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.no-deco {
    text-decoration: none;
}

/* FOOTER */
footer {
    color: white;
    text-align: center;
    padding: 40px 0;
    opacity: 0.6;
}

/* MOBILE */
@media (max-width: 600px) {
    body {
        padding: 0 5%;
    }

    .large {
        grid-column: span 1;
    }
}